*.o
*.out
__pycache__
graphics.py

# Netbeans/Java Files#
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.class
*.war
*ear
*.jar


# CMake related files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
